<mat-card>
  <mat-card-content>
<!--  User's InventoryEnum/Resources  -->
    <app-inventory
      [allResources]="allResources"
      [arenaLeague]="raidCollection.arenaLeague"
      [heroCount]="raidCollection.heroes.length"
    ></app-inventory>
<!--    User's Great Hall Overview  -->
    <ng-container *ngIf="raidCollection.greatHall !== initGreatHall">
      <app-great-hall [greatHall]="raidCollection.greatHall"></app-great-hall>
    </ng-container>
<!--    User's Faction Guardian Overview  -->
    <ng-container *ngIf="raidCollection.factionGuardians !== initFactionGuardians">
      <app-faction-guardians [factionGuardians]="raidCollection.factionGuardians"></app-faction-guardians>
    </ng-container>
  </mat-card-content>
</mat-card>
