<mat-toolbar color="primary">
  <h1>RSL Raider - A Raid Collection Viewer</h1>
  <button
    style="margin-left: 20px;"
    mat-raised-button (click)="refreshData()">Refresh</button>
</mat-toolbar>

<div *ngIf="loading === false && raidCollection !== undefined">
  <app-raid-collection [raidCollection]="raidCollection"></app-raid-collection>
  <ng-container *ngIf="raidCollection.greatHall !== initGreatHall">
    <app-great-hall [greatHall]="raidCollection.greatHall"></app-great-hall>
  </ng-container>
</div>

<div *ngIf="loading === true" style="margin-left: 50%; margin-right: 50%">
  <mat-spinner></mat-spinner>
</div>
