<mat-toolbar color="primary">
  <h1>RSL Raider - A Raid Collection Viewer</h1>
  <button
    style="margin-left: 20px;"
    mat-raised-button (click)="refreshData()"
  >
    Refresh
  </button>
  <ng-container *ngIf="loading === false && raidCollection !== undefined">
    <div fxLayout="row" fxLayoutGap="15px" style="margin-left: 20px;">
      <div><b>{{raidCollection.name}}</b></div>
      <div class="header-account-text"><b>Last Updated</b>: {{raidCollection.lastUpdated | date : 'short'}}</div>
      <div class="header-account-text"><b>Data Version</b>: {{raidCollection.fileVersion}}</div>
    </div>
  </ng-container>

</mat-toolbar>
<div *ngIf="loading === true">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="nav-tabs">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"
  > {{link}} </a>

</nav>

<mat-tab-nav-panel #tabPanel>
<div *ngIf="loading === false && raidCollection !== undefined">
  <ng-container *ngIf="activeLink === 'Inventory'">
    <app-raid-collection
      [raidCollection]="raidCollection"
      [allResources]="allResources"
    ></app-raid-collection>
  </ng-container>
  <ng-container *ngIf="activeLink === 'Champions'">
    <app-champ-collection [userChamps]="userChamps"></app-champ-collection>
  </ng-container>
</div>
</mat-tab-nav-panel>
