<mat-toolbar color="primary">
  <h1>RSL Raider - A Raid Collection Viewer</h1>
  <button
    style="margin-left: 20px;"
    mat-raised-button (click)="refreshData()"
  >
    Refresh
  </button>
  <ng-container *ngIf="loading === false && raidCollection !== undefined">
    <div fxLayout="row" fxLayoutGap="15px" style="margin-left: 20px;">
      <div><b>{{raidCollection.name}}</b></div>
      <div class="header-account-text"><b>Last Updated</b>: {{raidCollection.lastUpdated | date : 'short'}}</div>
      <div class="header-account-text"><b>Data Version</b>: {{raidCollection.fileVersion}}</div>
    </div>
  </ng-container>
</mat-toolbar>

<div *ngIf="loading === false && raidCollection !== undefined">
  <app-raid-collection [raidCollection]="raidCollection"></app-raid-collection>
  <ng-container *ngIf="raidCollection.greatHall !== initGreatHall">
    <app-great-hall [greatHall]="raidCollection.greatHall"></app-great-hall>
  </ng-container>
  <ng-container *ngIf="raidCollection.factionGuardians !== initFactionGuardians">
    <app-faction-guardians [factionGuardians]="raidCollection.factionGuardians"></app-faction-guardians>
  </ng-container>
</div>

<div *ngIf="loading === true">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
